<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Обо мне :)</title>
<% include blocks/headlinks.ejs %>
<link rel="stylesheet" type="text/css" href="/public/css/aboutme.css">
</head>
<body>
<% include blocks/header.ejs %>
  <main>
    <div class="main-info">
      <hr>
      <h2>Обо мне</h2>
      <h3>Ниже я расскажу о технологиях которые я изучил для того, чтобы разрабатывать сайты.</h3>

      <div class="info">
        <h3 class="mb">1) Свой путь я начал с изучения основ <span>HTML, CSS и JavaScript</span>. В качестве обучающего материала я выбрал сайт <span>htmlacademy.ru</span>.
          В качестве практики
          я выбирал видеоуроки на <span>YouTube</span> по вёрстке сайтов. Благодаря им я частично изучил технологии <span>flexbox и grid</span>.</h3>
          <img class="htmlacademy img" src="/public/img/htmlacademy.jpg" alt="htmlacademy">
        <h3 class="mb">2) Далее я изучил <span>Node.js</span> и <span>Express</span> по видео-курсу на <span>YouTube</span> автора Гоша Дударь.</h3>
        <img class="nodejs img" src="/public/img/node.jpg" alt="NodeJS">
        <h3 class="mb">3) После этого я более углубленно начал изучать <span>JavaScript</span> используя сайт <span>learn.javascript.ru</span></h3>
        <img class="learnjs img" src="/public/img/learnjs.png" alt="learnjs">
        <h3 class="mb">4) И наконец я выучил основы фреймворка <span>React.js</span> и систему управления версиями <span>Git</span> по видео-курсам на <span>Youtube</span>
          (Картинки искать лень, так что держите фото моих конспектов (не зря же писал)).</h3>
        <img class="myphoto img" src="/public/img/myphoto.jpg" alt="myphoto">
      </div>
    </div>
  </main>







<% include blocks/footer.ejs %>
</body>
</html>
