<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Бесполезная страница</title>
<% include blocks/headlinks.ejs %>
<link rel="stylesheet" type="text/css" href="/public/css/contacts.css">
</head>
<body>
<% include blocks/header.ejs %>
  <hr>
    <main>
      <div class="main-info">
      <h2>Бесполезная страница</h2>
      <h3>Если вы читали информацию на главной странице, то должны понимать, что здесь ничего не будет :(</h3>
      <p>Вот моя ссылка на VK: <a href="https://vk.com/elaray">Красавчик (я)</a></p>
      <p>Мой мобильный: <span>+375(44)564-24-52</span> (velcom)</p>
      </div>
    </main>






</body>
</html>
