<footer>
  <div class="footer-container">
    <div class="footer-href"><a href="#">О компании</a></div>
    <div class="footer-href"><a href="#">Реклама</a></div>
    <div class="footer-href"><a href="#">Размещение в каталоге</a></div>
    <div class="footer-href"><a href="#">Вакансии</a></div>
    <div class="footer-href"><a href="#">Манифест</a></div>
    <div class="footer-href"><a href="#">Правила</a></div>
    <div class="footer-href"><a href="#">Публичный договор</a></div>
    <div class="footer-href"><a href="#">Поддержка пользователей</a></div>
  </div>
</footer>
