<header>
  <div class="header-container">
    <div class="logo">
      <a href="/"><img  class="gragiclogo" src="\public\img\logo.png" alt="Logo"></a>
    </div>
    <input type="checkbox" id="menu-checkbox">
    <nav role="navigation">
      <label for="menu-checkbox" class="toggle-button"
      data-open="Меню" data-close="Закрыть" onclick></label>
      <ul class="main-menu">
        <li><a href="/">Домой</a></li>
        <li><a href="/registration">Регистрация</a></li>
        <li><a href="/aboutme">Обо мне</a></li>
        <li><a href="/contacts">Контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
